/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#appComponent{
    height: 100%;
}

.dark{
    background-color: rgb(58, 58, 58);
    color: white;
}

a {
    text-decoration: none;
}

.dark > a {
    color: rgb(30, 184, 255);
    text-decoration: none;
}